nav{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;   
}
    
.page{ 
    display:flex;
justify-content: center;    text-decoration: solid;
}
*{
font-weight: lighter;}
h2{
    color:rgb(192, 185, 199);
}
.about>h4{
    text-decoration:double;
    background-color:gray;
    width:20%;
    font-style: italic;
    height: 5%;
    padding: 25px;
    
}
.intro>p{
    background-color: aqua;
    margin: 30px;
    padding: 25px;
    width: 20%;
    height: 5%;
    justify-content: space-between;

}
.photo{
    background-color:red;
    border-radius: 50px;
    height: 35%;
}

.intro {
    display: flex;
}
.work{
    display: flex;
    justify-content: space-around;
    flex-direction: row ;

}
.resume>h3{
font-family: 'Times New Roman', Times, serif;font-style: oblique;
font-size:large;}

        


